{% extends "base.html" %}
{% block content %}
<div id="main-page-border">
    <h1>Hello world</h1>
</div>
<h1>Hi, {{user.nickname}}!</h1>
{% for post in posts %}
<div>
    <p>{{post.author.nickname}} says: <b>{{post.body}}</b></p>
</div>
{% endfor %}
{% if dogs %}
<div class="container">

    <div class="row">
        {% for dog in dogs %}
            {% set count_dogs= loop.length %}
        <div id="dog-card" class="col-lg-3 col-md-4 col-sm-6 col-12 py-3 px-lg-5 border bg-info">
            <img src="https://picsum.photos/300/300/?gravity=east" class="img-fluid" alt="Responsive image">
            {{ dog.owner }}<br>
            {{ dog.pet_name }}<br>
            {{ dog.breed }}<br>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}
{% endblock %}