{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>
{% for post in posts %}
<div>
    <p>{{post.author.nickname}} says: <b>{{post.body}}</b></p>
</div>
{% endfor %}
{% if dogs %}
<div class="container">
    {% for dog in dogs %}
    <div class="row">
        <div class="col-1">
            <div class="info">
           {{ dog.owner }}<br>
           {{ dog.pet_name }}<br>
           {{ dog.breed }}<br>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}