<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
    <h1>Sign In</h1>
    {% if error %}
        <div class="bg-danger">
            <strong>Error:</strong> {{ error }}
        </div>
    {% endif %}
<div class="col-md-8">
<form class="form-inline" method="post" action="login">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">username</label>
    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="username" name="username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="password">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default" >Sign in</button>
</form>
</div>
<div class="col-md-12">
        <a class="btn btn-danger" href="registration" role="button">Registration</a>
</div>
<div class="col-md-12">
    <form class="form-inline" method="post" action="logout">
    <button type="submit" class="btn btn-success">Log out</button>
    </form>
</div>
{% endblock %}

