<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if not session %}
    <div class="row">
        <div class="col-md-6">
            <h1>Hi, new user!</h1>
            <h2>You need to registration</h2>
        </div>
        <div class="col-md-6">
            <a class="btn btn-danger" href="registration" role="button">Registration</a>
        </div>
    </div>
    {% else %}
    <div id="user-block" class="row">
        <div class="col">
            <img height="150" src="{{ url_for('static', filename='users_files/1.jpg') }}">
            {% if path_to_pic %}
            <p>{{ path_to_pic }}</p>
            <div><img src="{{path_to_pic}}"></div>
            {% else %}
            <form enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label class="btn btn-secondary active">
                        <input type="file" class="form-control-file" accept="image/*" name="file">
                        Example file input
                    </label>
                    <button class="btn btn-danger" type="submit">Upload file</button>
                </div>
            </form>
        </div>
        <div class="col">
            {% endif %}
            <h1>Hi, {{username }},</h1>
            <h2>from {{ city }}</h2>
        </div>

    </div>
    <div class="container">
        {% if not dogs %}
        <div class="row"><h2 class="display-4">You haven't any dog</h2></div>
        {% else %}
        <h2 class="display-4">My dogs</h2>
        <div class="row">
            {% for dog in dogs %}
            {% set count_dogs= loop.length %}
            <div id="dog-card" class="col-lg-3 col-md-4 col-sm-6 col-12 py-3 px-lg-5 border bg-info">
                <img src="https://picsum.photos/300/300/?gravity=east" class="img-fluid" alt="Responsive image">
                <h3 class="petname">{{ dog.pet_name }}</h3>
                <div class="info">
                    {{ dog.breed }}<br>
                    {{ dog.kennel }}<br>
                    {{ dog.to_char }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="conteiner">
        <div class="row">
            {% if message %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
            {% endif %}
            <div id="add-dog" class="col-md-12">
                <a class="btn btn-danger" href="add-dog" role="button">Want to add my dog</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}
